<div class="container" style="background-color: #CDE5D7>
{% extends 'all-post/base.html' %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
​
<div class="container">
    
    {% for clonemain_item in clonemain %}
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <!-- <h3 style="font-size: 15px" class="text-center hd"  >{{ clonemain_item.post}}</h3> -->
        
        </div>
            
        <div class="col-xs-4 col-sm- col-md-4 col-lg-4">
            <h1>{{ clonemain_item.title }}</h1>
            <img src="{{ clonemain_item.post_image.url}}" class="img-responsive" alt="Image"  >
​
        </div>
    </div>
​
    {% empty %}
    <div class="row">
        <h5 class="text-center hd"> There are No post Items  Yet&#128540</h5>
    </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-4">     
                   <form action="{% url 'postToday' %} " method="post">
            {% csrf_token %}
            
             {% bootstrap_form letterForm layout='inline' %}
            <input type="submit" value="Subscribe" name="">
        </div>


        </form> 

    </div>       
    </div>
</div>
{% endblock %}
</div>



