{% extends 'all-post/base.html' %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
​
<div class="container">
    <!-- Looping through the post -->
    {% for clonemain_item in clonemains %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h5 style="font-size: 15px" class="text-center hd">{{ clonemain_item.title }}</h5>
        
            <h4 style="font-style: italic; font-size: 13px;" class="text-left hb">{{ clonemain_item.post}}</h4>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{ clonemain_item.post_image.url}}" class="img-responsive" alt="Image">
​
        </div>
    </div>
​
    {% empty %}
    <div class="row">
        <h5 class="text-center hd"> There are No post Items</h5>
    </div>
    {% endfor %}
    <div class="container-fluid">
        <form action="{% url 'postToday' %} " method="post">
            {% csrf_token %}
            
             {% bootstrap_form letterForm layout='inline' %}
            <input type="submit" value="Subscribe" name="">
        </form>        
    </div>
</div>
{% endblock %}




