{% extends 'clonemain/base.html' %}
{% block content %}
<div class="container m-t-100">
    <div class="row">
        <div class="col-md-9">
            {% for post in posts %}
            <div class="row row d-flex justify-content-center">
                <div class="col-md-9 ">
                    <!-- Card -->
                    <div class="card-header">
                        <div class="view overlay">
                            <img src="{{ post.author.profile.image.url }}"
                                class="img-fluid z-depth-1 rounded-circle   " alt="Responsive image"
                                width="40">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <div class="card  mb-3">

                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                            <a href="{% url 'post-detail' post.id %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body ">

                            <!-- Title -->
                            <h4 class="card-title" style="font-family: 'Billabong'">{{ post.title }}</h4>
                            <!-- Text -->
                            <p style="font-family: 'Billabong'">{{ post.author }} on
                                {{ post.date_posted | date:'d N Y H:i' }} </p>
                            <p> {{ post.desription }} </p>
                            <!-- Button -->
                            <a class="px-2 fa-lg li-ic"><i class="far fa-heart fa-lg p-2"></i></a>
                            <a class="px-2 fa-lg li-ic"><i class="far fa-comment fa-lg"></i></a>

                        </div>

                    </div>
                    <!-- Card -->
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3 d-none d-md-block">
            <!-- Card -->
            <div class="card position-fixed">

                <!-- Card content -->
                {% for post in posts %}
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title" style="font-family: 'Billabong'">{{ post.title }}</h4>
                    <!-- Text -->
                    <p style="font-family: 'Billabong'"> By {{ post.author }} on {{ post.date_posted }} </p>
                    <p> {{ post.content }} </p>
                    <!-- Button -->
                    <!-- <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a> -->

                </div>
                {% endfor %}
            </div>
            <!-- Card -->

        </div>
    </div>
</div>


{% endblock %}