<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg z-depth-1 fixed-top bg-white">
        <div class="container">
            <a class="navbar-brand" href="{% url 'insta-home' %}" style="font-family: 'Billabong'; color: black"><i
                    class="fab fa-instagram fa-2x"></i></a>
            <a class="navbar-brand" href="{% url 'insta-home' %}"
                style="font-family: 'Billabong'; font-size: 2em; color: black">Instagram
            </a>
            <button class="navbar-toggler btn-dark" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link waves-effect waves-light" href=" {% url 'post-create' %} "
                            style="color: black">
                            <!-- <i class="far fa-compass fa-lg p-2"></i> -->
                            <i class="fas fa-cloud-upload-alt fa-lg p-2"></i>
                        </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="far fa-heart fa-lg p-2"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user fa-lg p-2"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                            aria-labelledby="navbarDropdownMenuLink-333">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar -->
</body>

</html>