<div style="background-color: black">
{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  
    <div class="row"> <br>
        <br>
        <br>
        <br>

        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Password or Username is incorrect </p>
            {% endif %} 
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="text-center" style="color: lemonchiffon">Sign In</h3>
                </div>
                <div class="panel-body"style="color: lemonchiffon">

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form%}

                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-primary btn-lg btn-block" value="Login">
                        Dont have account yet?
                            <a href="/accounts/register/" style="font-size: 20px">Register</a>
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>

            </div>

        </div>

        <div class="col-md-4"></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<marquee behavior="" direction="" style="color: blanchedalmond; font-size: 30px " class="text-center" width=900px >This is a decoy app Gotta sign-up  first to enjoy&#128540</marquee>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<
{% endblock %}

</div>